@import url('https://fonts.googleapis.com/css2? family= Josefin+Slab:ital,wght@1,700 & display=swap');

body {
    font-family: 'Alkalami', serif;
    font-family: 'Great Vibes', cursive;
}
.container{
    background-color: #AB911D;

}
.logo{
    font-family: 'Alkalami', serif;
    font-family: 'Great Vibes', cursive;
    font-family: 'Josefin Slab', serif;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Montserrat', sans-serif;
}
.title, footer{
    famille de polices : 'Josefin Slab', serif ;
    
}
header>div h1 {
    color: rgb(165, 5, 5);
    
}
.picture-delacroix{
    height: 200px;
    width: 300px;
}
.picture-union{
    height: 200px;
    width: 300px;
}

@media screen and (min-width: 375px) {
    h1 {
        color: gold;
        font-size: 3rem;
        text-align: left;
        box-shadow: ;
    }
}
.footer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;

}