@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Josefin+Slab:ital,wght@1,700&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Josefin+Slab:ital,wght@1,700&family=Nanum+Myeongjo&family=Satisfy&display=swap');

body {
    font-family: 'Alkatra', cursive;
    font-family: 'Josefin Slab', serif;
    font-family: 'Nanum Myeongjo', serif;
    font-family: 'Satisfy', cursive;
}
.container{
    background-color: #b19a33;

}
.title{
    font-family: 'Alkatra', cursive;
    font-family: 'Josefin Slab', serif;
    font-family: 'Satisfy', cursive;
    
}

@media screen and(min-width: 900px){
    .row{
        display: inline-block;

    }
}
.title, footer{
    famille de polices : 'Josefin Slab', serif ;
    
}
header>div h1 {
    color: rgb(165, 5, 5);
    
}
.home{
    color: black;
    text-decoration: none;
    outline: none;
    font-weight: 500;
}
.event{
    color: black;
    text-decoration: none;
    outline: none;
    font-weight: 500;
}
.contact{
    color: black;
    text-decoration: none;
    outline: none;
    font-weight: 500;
}

.picture-delacroix{
    height: 200px;
    width: 300px;
    box-shadow: 2px 2px 2px rgb(21, 56, 21);
    border-radius: 5px;
}
.picture-union{
    height: 200px;
    width: 300px;
    box-shadow: 2px 2px 2px rgb(58, 58, 58);
    border-radius: 5px;

}
.picture-sponsors{
    height: 300px;
    width: 300px;
}
.picture-evenement{
    height: 300px;
    width: 400px;
    box-shadow: 2px 2px 2px rgb(21, 56, 21);
    border-radius: 5px;
}

.footer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
}
.footer:hover{
    color: #AB911D;
}